<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maven08.track">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Required only when requesting background location access on
       Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission."/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="location.maven08.track.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="location.maven08.track.LocationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
            <!--android:foregroundServiceType="location"-->
        <service
            android:name="location.maven08.track.UploadLocationService"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACE3RL61w3s8Ryi2O5DCiYAEf4OSaWcyM" />

    </application>

</manifest>